.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pic-style {
  width: 500px;
  height: 500px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSd90E1db3GFWH3KpfSFpBr4xd-E8bLG4u53GAyl9HpvL4sRTKO&usqp=CAU);
  background-size: cover;
}
